*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-color: aqua;

}

.contenedor{
    margin-right:  20px; ;
    margin-left: 20px;
    height : 90% ;
    width : auto; 
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 1fr   ;
    justify-content: center;
}


.titulodesabores{
    font-family: impact;
    font-size: 60px;
    font-weight: bold;
    list-style-type: none; /* sin viñetas */


}

.lista{
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none; 
    text-align: center;
    margin: 5px; 
    padding: 2px;
    box-shadow: black;
    grid-gap:20 px;
    gap: 4px;
}





.ul-sabores{
    list-style-type: none;

}

