

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}


.contenedor-home{
    margin-right:  20px; ;
    margin-left: 20px;
    height : 400px ;
    width : 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    justify-content: center;
    border: 6px solid;
    grid-template-areas: 
        "home1 home2 home3"
        "home1 home4 home5   ";

    
}

.contenedor-home  > div {
    border: solid green ;
    align-items: center;
    text-align: center;

}

.home1{
    grid-area:home1 ;

    align-items: center;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    background: burlywood;
}

.home2{
    grid-area:home2 ;
    background-color: red;
    align-items: center;
    text-align: center;
    background-image: url(snikker.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

  

}

.home3{

    background-color: green;
    align-items: center;
    text-align: center;
    padding: 60px;
    -webkit-animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both;
    animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 3s;

}

.home4{

    background-color: blue;
    align-items: center;
    text-align: center;
    padding: 60px;

}

.home5{
    background-color: blueviolet;
    align-items: center;
    text-align: center;
    padding: 50px;

}

.p-historia{
    Font-family: 'Dangrek', cursive;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;

}

.article-historia{
    font-family: 'Dangrek', cursive;
    text-decoration: none;
    font-size: 25px;
    padding: 10px ;
}





.items-home{
    Font-family: 'Dangrek', cursive;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: burlywood;
}


.p-historia{
    Font-family: 'Dangrek', cursive;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.snikker{
    width: 100%;
    height: 100%;
}


.home3::after{
    content: 'Tradicion artesanal';
    animation: cambio linear;

}

@keyframes cambio {
    100% {
        content: 'puto';
    }
    
}








.swing-top-fwd{-webkit-animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both;animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes swing-top-fwd{0%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotateX(180deg);transform:rotateX(180deg);-webkit-transform-origin:top;transform-origin:top}}@keyframes swing-top-fwd{0%{-webkit-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:rotateX(180deg);transform:rotateX(180deg);-webkit-transform-origin:top;transform-origin:top}}


 