*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-nav{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 75px 1fr;
    width: 100%;
    height: 130px;
    grid-template-areas: 
        " titulo-header titulo-header titulo-header titulo-header "
        "menu1 menu2 menu3 menu4";
    border-radius: 5px;
}



.titulo-header{
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid ;
    place-items: center;
    background-color: burlywood;
    border-radius: 5px;

}

.menu1{
    background-color: burlywood;
    grid-area: menu1;
    display: grid ;
    place-items: center;


}


.menu2{
    background-color: burlywood;
    grid-area: menu2;
    display: grid ;
    place-items: center;

}

.menu3{
    background-color: burlywood;
    grid-area: menu3;
    display: grid ;
    place-items: center;

}

.menu4{
    background-color: burlywood;
    grid-area: menu4;
    display: grid ;
    place-items: center;
  
}

.a1{
    text-decoration: none;
    list-style-type: none; 
    color: rgba(69, 69, 69, 0.689);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;

}

.p2{
    font-family: 'Bungee Spice', cursive;
    font-size: 40px;
    color: rgba(69, 69, 69, 0.689);
    overflow: hidden;
}



body {
    background: rgba(10, 46, 74, 0.758);
    color: rgb(1, 6, 9);
}

.lekkerportada{
   display: flex;
   background-image: url("portadalekker.jpg");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center center;
   display: flex; 
   justify-content: center ;
   height: 100%;

}


.contenedor{
    margin-right:  20px; ;
    margin-left: 20px;
    height : 90% ;
    width : auto;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 1fr   ;
    justify-content: center;
}


.contenedor > .lista {
    border: outset 5px rgb(0, 0, 0);
    padding: 20 px;
    display: block;
    font-size: 32px;
    width: 400px;
    height: 1500 px;
    padding:20px;
    text-align: center;
    margin: 10px;
    background-color: burlywood;
    
}

.titulodesabores{
    font-family: impact;
    font-size: 60px;
    font-weight: bold;
    list-style-type: none; /* sin viñetas */


}

.lista{
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none; 
    text-align: center;
    margin: 5px; 
    padding: 2px;
    box-shadow: black;
    grid-gap:20 px;
    gap: 4px;
}





.ul-sabores{
    list-style-type: none;

}




.sucursales{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: 1fr 1fr ;
    

}

.h3 {
    text-align: center;
    font-size: 40px;
 
 }




.sucursales .item1 {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.devoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sucursales .item2 {
    background: burlywood;
    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.p{
    font-size: 30px;
    font-weight: normal;
 }




.almagro{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: 1fr 1fr ;
    

}

.almagro1{
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.almagro2{
    background: burlywood;
    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.carrasco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 100%;
}

.carrasco1{
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carrasco2{
    background: burlywood;
    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
    padding: 60px;
    transition-property: all;
    transition-duration: 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carrasco2:hover{
    transition: all;
    transform:scale(1.1) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.carrasco1:hover{
    transform:scale(1.1) ;
    transition: all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}  

.almagro2:hover{
    transform:scale(1.1) ;
    transition: all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.almagro1:hover{
    transform:scale(1.1) ;
    transition: all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}



***